# -------------------------------
# Python
# -------------------------------
__pycache__/
*.py[cod]

# -------------------------------
# Virtual Environment
# -------------------------------
venv/

# -------------------------------
# Environment Variables
# -------------------------------
.env

# -------------------------------
# User Uploads
# -------------------------------
uploads/

# -------------------------------
# IDE Settings
# -------------------------------
.vscode/
.idea/

# -------------------------------
# Operating System Files
# -------------------------------
.DS_Store
Thumbs.db